[Desktop Entry]
Name=Bitwa o Wesnoth
Comment=Strategy game
Comment[pl]=Gra strategiczna
Exec=wesnoth
Icon=wesnoth-icon
Terminal=false
Type=Application
Categories=Game;StrategyGame;
# vi: encoding=utf-8
