[Desktop Entry]
Name=Bitwa o Wesnoth (Map editor)
Name[pl]=Battle for Wesnoth (Edytor map)
Comment=Map editor for strategy game Battle for Wesnoth
Comment[pl]=Edytor map do gry strategicznej Bitwa o Wesnoth
Exec=wesnoth_editor
Icon=wesnoth_editor-icon
Terminal=false
Type=Application
Categories=Game;StrategyGame;
# vi: encoding=utf-8
